cache::nodes:
  text:
    eqiad:
    - deployment-cache-text08.deployment-prep.eqiad1.wikimedia.cloud
cache::text::nodes:
  eqiad:
  - deployment-cache-text08.deployment-prep.eqiad1.wikimedia.cloud
profile::cache::haproxy::http_redirection_port: 80
profile::cache::varnish::frontend::enable_http_redirection: false
profile::pki::client::ensure: present
