profile::docker::engine::declare_service: true
profile::docker::engine::packagename: docker.io
profile::docker::engine::settings: {}
profile::docker::runner::service_defs:
  eventgate-analytics:
    config:
      num_workers: 0
      services:
      - conf:
          allow_absolute_schema_uris: false
          csp: false
          error_stream: eventgate-analytics.error.validation
          eventgate_factory_module: /srv/service/eventgate-wikimedia.js
          id_field: meta.id
          kafka:
            conf:
              metadata.broker.list: deployment-kafka-jumbo-5.deployment-prep.eqiad1.wikimedia.cloud:9092,deployment-kafka-jumbo-8.deployment-prep.eqiad1.wikimedia.cloud:9092,deployment-kafka-jumbo-9.deployment-prep.eqiad1.wikimedia.cloud:9092
              statistics.interval.ms: 10000
            topic_conf: {}
          max_body_size: 2mb
          port: 8192
          schema_base_uris:
          - http://schema-beta.wmflabs.org/repositories/primary/jsonschema/
          - http://schema-beta.wmflabs.org/repositories/secondary/jsonschema/
          schema_precache_uris:
          - /error/1.0.0
          - /test/event/1.0.0
          schema_uri_field: $schema
          stream_config_object_path: streams
          stream_config_ttl: 60
          stream_config_uri: https://meta.wikimedia.beta.wmflabs.org/w/api.php?action=streamconfigs&format=json&constraints=destination_event_service=eventgate-analytics
          stream_field: meta.stream
          test_events:
          - $schema: /test/event/1.0.0
            meta:
              stream: eventgate-analytics.test.event
          topic_prefix: eqiad.
          user_agent: eventgate-analytics
        entrypoint: app
        module: eventgate
        name: eventgate-analytics
      worker_heap_limit_mb: 250
    environment:
      NODE_TLS_REJECT_UNAUTHORIZED: '0'
    image_name: eventgate-wikimedia
    namespace: wikimedia
    override_cmd: /srv/service/node_modules/.bin/eventgate -c /etc/eventgate-analytics/config.yaml
    port: 8192
    version: 2023-10-24-174410-production
  eventgate-analytics-external:
    config:
      num_workers: 0
      services:
      - conf:
          allow_absolute_schema_uris: false
          csp: false
          error_stream: eventgate-analytics-external.error.validation
          eventgate_factory_module: /srv/service/eventgate-wikimedia.js
          id_field: meta.id
          kafka:
            conf:
              metadata.broker.list: deployment-kafka-jumbo-5.deployment-prep.eqiad1.wikimedia.cloud:9092,deployment-kafka-jumbo-8.deployment-prep.eqiad1.wikimedia.cloud:9092,deployment-kafka-jumbo-9.deployment-prep.eqiad1.wikimedia.cloud:9092
              statistics.interval.ms: 10000
            topic_conf: {}
          max_body_size: 2mb
          port: 8492
          schema_base_uris:
          - http://schema-beta.wmflabs.org/repositories/primary/jsonschema/
          - http://schema-beta.wmflabs.org/repositories/secondary/jsonschema/
          schema_precache_uris:
          - /error/1.0.0
          - /test/event/1.0.0
          schema_uri_field: $schema
          stream_config_ttl: 60
          stream_config_uri: https://meta.wikimedia.beta.wmflabs.org/w/api.php?action=streamconfigs&format=json&constraints=destination_event_service=eventgate-analytics-external
          stream_field: meta.stream
          test_events:
          - $schema: /test/event/1.0.0
            meta:
              stream: eventgate-analytics-external.test.event
          topic_prefix: eqiad.
          user_agent: eventgate-analytics-external
        entrypoint: app
        module: eventgate
        name: eventgate-analytics-external
      worker_heap_limit_mb: 250
    environment:
      NODE_TLS_REJECT_UNAUTHORIZED: '0'
    image_name: eventgate-wikimedia
    namespace: wikimedia
    override_cmd: /srv/service/node_modules/.bin/eventgate -c /etc/eventgate-analytics-external/config.yaml
    port: 8492
    version: 2023-10-24-174410-production
  eventgate-logging-external:
    config:
      num_workers: 0
      services:
      - conf:
          allow_absolute_schema_uris: true
          csp: false
          error_stream: eventgate-logging-external.error.validation
          eventgate_factory_module: /srv/service/eventgate-wikimedia.js
          id_field: meta.id
          kafka:
            conf:
              metadata.broker.list: deployment-kafka-logging01.deployment-prep.eqiad1.wikimedia.cloud:9092
              statistics.interval.ms: 10000
            topic_conf: {}
          max_body_size: 2mb
          port: 8992
          schema_base_uris:
          - http://schema-beta.wmflabs.org/repositories/primary/jsonschema/
          schema_precache_uris:
          - /error/1.0.0
          - /test/event/1.0.0
          - /mediawiki/client/error/1.0.0
          schema_uri_field: $schema
          stream_config_object_path: streams
          stream_config_ttl: 60
          stream_config_uri: https://meta.wikimedia.beta.wmflabs.org/w/api.php?action=streamconfigs&format=json&constraints=destination_event_service=eventgate-logging-external
          stream_field: meta.stream
          test_events:
          - $schema: /test/event/1.0.0
            meta:
              stream: eventgate-logging-external.test.event
          topic_prefix: eqiad.
          user_agent: eventgate-logging-external
        entrypoint: app
        module: eventgate
      worker_heap_limit_mb: 250
    environment:
      NODE_TLS_REJECT_UNAUTHORIZED: '0'
    image_name: eventgate-wikimedia
    namespace: wikimedia
    override_cmd: /srv/service/node_modules/.bin/eventgate -c /etc/eventgate-logging-external/config.yaml
    port: 8992
    version: 2023-10-24-174410-production
  eventgate-main:
    config:
      num_workers: 0
      services:
      - conf:
          allow_absolute_schema_uris: false
          csp: false
          error_stream: eventgate-main.error.validation
          eventgate_factory_module: /srv/service/eventgate-wikimedia.js
          id_field: meta.id
          kafka:
            conf:
              metadata.broker.list: deployment-kafka-main-5.deployment-prep.eqiad1.wikimedia.cloud:9092,deployment-kafka-main-6.deployment-prep.eqiad1.wikimedia.cloud:9092
              statistics.interval.ms: 10000
            topic_conf: {}
          max_body_size: 2mb
          port: 8292
          schema_base_uris:
          - http://schema-beta.wmflabs.org/repositories/primary/jsonschema/
          schema_precache_uris:
          - /error/1.0.0
          - /test/event/1.0.0
          schema_uri_field: $schema
          stream_config_object_path: streams
          stream_config_ttl: 60
          stream_config_uri: https://meta.wikimedia.beta.wmflabs.org/w/api.php?action=streamconfigs&format=json&constraints=destination_event_service=eventgate-main
          stream_field: meta.stream
          test_events:
          - $schema: /test/event/1.0.0
            meta:
              stream: eventgate-main.test.event
          topic_prefix: eqiad.
          user_agent: eventgate-main
        entrypoint: app
        module: eventgate
        name: eventgate-main
      worker_heap_limit_mb: 250
    environment:
      NODE_TLS_REJECT_UNAUTHORIZED: '0'
    image_name: eventgate-wikimedia
    namespace: wikimedia
    override_cmd: /srv/service/node_modules/.bin/eventgate -c /etc/eventgate-main/config.yaml
    port: 8292
    version: 2023-10-24-174410-production
