profile::cassandra::instances:
  deployment-restbase03.deployment-prep.eqiad.wmflabs: {}
profile::restbase::hosts:
- deployment-restbase03.deployment-prep.eqiad.wmflabs
profile::restbase::seeds_ng:
- deployment-restbase03.deployment-prep.eqiad.wmflabs
profile::tlsproxy::envoy::capitalize_headers: false
profile::tlsproxy::envoy::global_cert_name: restbase.discovery.wmnet
profile::tlsproxy::envoy::sni_support: 'no'
profile::tlsproxy::envoy::tls_port: 1024
