profile::java::java_packages:
- variant: jdk
  version: '8'
profile::kafka::broker::auth_acls_enabled: false
profile::kafka::broker::auto_leader_rebalance_enable: true
profile::kafka::broker::inter_broker_protocol_version: 1.1.0
profile::kafka::broker::kafka_cluster_name: jumbo-deployment-prep
profile::kafka::broker::kafka_version: 1.1.0-1
profile::kafka::broker::log_dirs:
- /srv/kafka/data
profile::kafka::broker::log_segment_bytes: 134217728
profile::kafka::broker::monitoring::replica_maxlag_critical: 5000000
profile::kafka::broker::monitoring::replica_maxlag_warning: 1000
profile::kafka::broker::monitoring_enabled: true
profile::kafka::broker::nofiles_ulimit: 8192
profile::kafka::broker::num_io_threads: 1
profile::kafka::broker::num_recovery_threads_per_data_dir: 1
profile::kafka::broker::num_replica_fetchers: 1
profile::kafka::broker::plaintext: true
profile::kafka::broker::prometheus_monitoring_enabled: true
profile::kafka::broker::ssl_enabled: true
profile::kafka::broker::ssl_password: qwerty
profile::kafka::mirror::consumer_ssl_enabled: true
profile::kafka::mirror::destination_cluster_name: jumbo-deployment-prep
profile::kafka::mirror::properties:
  num_streams: 4
  offset_commit_interval_ms: 5000
  producer_properties:
    batch.size: 65536
profile::kafka::mirror::source_cluster_name: main
profile::kafka::mirror::ssl_password: qwerty
