cache::alternate_domains:
  config-master.wikimedia.beta.wmflabs.org:
    caching: pass
  performance.wikimedia.beta.wmflabs.org:
    caching: normal
cache::app_def_be_opts:
  between_bytes_timeout: 30s
  connect_timeout: 3s
  first_byte_timeout: 63s
  max_connections: 1000
  port: 80
cache::cluster: text
cache::lua_support: true
cache::nodes:
  text:
    eqiad:
    - deployment-cache-text06.deployment-prep.eqiad.wmflabs
cache::req_handling:
  default:
    caching: normal
cache::text::nodes:
  eqiad:
  - deployment-cache-text06.deployment-prep.eqiad.wmflabs
cluster: cache_text
nginx::variant: extras
profile::cache::base::purge_host_regex: ''
profile::cache::base::varnish_version: 5
profile::cache::ssl::unified::acme_chief: true
profile::cache::ssl::unified::certs: []
profile::cache::ssl::unified::certs_active: []
profile::cache::ssl::unified::letsencrypt: false
profile::cache::ssl::wikibase::acme_chief: true
profile::cache::ssl::wikibase::letsencrypt: false
profile::cache::ssl::wikibase::monitoring: false
profile::cache::varnish::backend::be_extra_vcl:
- text-common
- normalize_path
profile::cache::varnish::backend::be_vcl_config:
  pass_random: true
profile::cache::varnish::common_vcl_config:
  allowed_methods: ^(GET|HEAD|OPTIONS|POST|PURGE|PUT|DELETE)$
  maps_domain: maps.beta.wmflabs.org
  purge_host_regex: ^(?!(upload|upload\.wikimedia|maps)\.beta\.wmflabs\.org)
  shortener_domain: w-beta.wmflabs.org
  static_host: en.wikipedia.beta.wmflabs.org
  top_domain: beta.wmflabs.org
  upload_domain: upload.wikimedia.beta.wmflabs.org
  upload_webp_hits_threshold: 1000
profile::cache::varnish::frontend::fe_extra_vcl:
- normalize_path
- geoip
profile::cache::varnish::frontend::fe_vcl_config:
  admission_policy: none
  allowed_methods: ^(GET|HEAD|OPTIONS|POST|PURGE|PUT|DELETE)$
  enable_geoiplookup: true
  keep: 1d
  large_objects_cutoff: 262144
  maps_domain: maps.beta.wmflabs.org
  public_clouds_shutdown: false
  purge_host_regex: ^(?!(upload|upload\.wikimedia|maps)\.beta\.wmflabs\.org)
  shortener_domain: w-beta.wmflabs.org
  static_host: en.wikipedia.beta.wmflabs.org
  top_domain: beta.wmflabs.org
  upload_domain: upload.wikimedia.beta.wmflabs.org
  upload_webp_hits_threshold: 1000
  varnish_probe_ms: 100
profile::cache::varnish::frontend::packages_component: component/varnish6
profile::cache::varnish::frontend::separate_vcl:
- misc
profile::cache::varnish::separate_vcl:
- misc
profile::tlsproxy::instance::nginx_variant: extras
profile::trafficserver::backend::mapping_rules:
- params:
  - '@plugin=/usr/lib/trafficserver/modules/tslua.so'
  - '@pparam=/etc/trafficserver/lua/normalize-path.lua'
  - '@pparam="2F"'
  - '@pparam="21 24 26 27 28 29 2A 2B 2C 3A 3B 3D 40 5B 5D"'
  - '@plugin=/usr/lib/trafficserver/modules/tslua.so'
  - '@pparam=/etc/trafficserver/lua/x-mediawiki-original.lua'
  replacement: http://deployment-ms-fe03.deployment-prep.eqiad.wmflabs
  target: http://upload.beta.wmflabs.org
  type: map
- params:
  - '@plugin=/usr/lib/trafficserver/modules/tslua.so'
  - '@pparam=/etc/trafficserver/lua/normalize-path.lua'
  - '@pparam="2F"'
  - '@pparam="21 24 26 27 28 29 2A 2B 2C 3A 3B 3D 40 5B 5D"'
  - '@plugin=/usr/lib/trafficserver/modules/tslua.so'
  - '@pparam=/etc/trafficserver/lua/x-mediawiki-original.lua'
  replacement: http://deployment-ms-fe03.deployment-prep.eqiad.wmflabs
  target: http://upload.wikimedia.beta.wmflabs.org
  type: map
- replacement: http://deployment-webperf21.deployment-prep.eqiad1.wikimedia.cloud
  target: http://performance.wikimedia.beta.wmflabs.org
  type: map
- replacement: http://deployment-eventgate-4.deployment-prep.eqiad.wmflabs:8492
  target: http://intake-analytics.wikimedia.beta.wmflabs.org
  type: map
- replacement: http://deployment-eventgate-4.deployment-prep.eqiad.wmflabs:8992
  target: http://intake-logging.wikimedia.beta.wmflabs.org
  type: map
- replacement: https://deployment-eventstreams-2.deployment-prep.eqiad.wmflabs:8092
  target: http://stream.wikimedia.beta.wmflabs.org
  type: map
- replacement: https://deployment-eventstreams-2.deployment-prep.eqiad.wmflabs:8093
  target: http://stream-test.wikimedia.beta.wmflabs.org
  type: map
- replacement: https://deployment-puppetmaster04.deployment-prep.eqiad1.wikimedia.cloud
  target: http://config-master.wikimedia.beta.wmflabs.org
  type: map
- params:
  - '@plugin=/usr/lib/trafficserver/modules/tslua.so'
  - '@pparam=/etc/trafficserver/lua/normalize-path.lua'
  - '@pparam="3A 40 21 24 28 29 2A 2C 3B 27"'
  - '@pparam="5B 5D 26 2B 3D"'
  - '@plugin=/usr/lib/trafficserver/modules/tslua.so'
  - '@pparam=/etc/trafficserver/lua/rb-mw-mangling.lua'
  - '@plugin=/usr/lib/trafficserver/modules/conf_remap.so'
  - '@pparam=proxy.config.http.server_session_sharing.match=2'
  replacement: http://deployment-restbase03.deployment-prep.eqiad.wmflabs:7231/api/rest_v1
  target: http://(.*)/api/rest_v1
  type: regex_map
- params:
  - '@plugin=/usr/lib/trafficserver/modules/tslua.so'
  - '@pparam=/etc/trafficserver/lua/rb-mw-mangling.lua'
  replacement: http://deployment-mediawiki11.deployment-prep.eqiad1.wikimedia.cloud/w/api.php
  target: http://(.*)/w/api.php
  type: regex_map
- params:
  - '@plugin=/usr/lib/trafficserver/modules/tslua.so'
  - '@pparam=/etc/trafficserver/lua/normalize-path.lua'
  - '@pparam="3A 2F 40 21 24 28 29 2A 2C 3B"'
  - '@pparam="5B 5D 26 27 2B 3D"'
  - '@plugin=/usr/lib/trafficserver/modules/tslua.so'
  - '@pparam=/etc/trafficserver/lua/rb-mw-mangling.lua'
  replacement: http://deployment-mediawiki12.deployment-prep.eqiad1.wikimedia.cloud
  target: /
  type: map
profile::trafficserver::tls::available_unified_certs:
  lets-encrypt:
    acme_chief: true
    cert_files:
    - acmecerts/unified/live/rsa-2048.chained.crt
    - acmecerts/unified/live/ec-prime256v1.chained.crt
    default: true
    private_key_files:
    - acmecerts/unified/live/rsa-2048.key
    - acmecerts/unified/live/ec-prime256v1.key
profile::trafficserver::tls::inbound_tls_settings:
  common:
    cipher_suite: -ALL:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES128-SHA
    enable_tlsv1: 0
    enable_tlsv1_1: 0
    enable_tlsv1_2: 1
    enable_tlsv1_3: 0
  dhparams_file: /etc/ssl/dhparam.pem
  do_ocsp: 0
  load_elevated: 1
  max_record_size: 16383
  prioritize_chacha: 1
  session_cache: 2
  session_cache_auto_clear: 1
  session_cache_buckets: 256
  session_cache_size: 102400
  session_ticket_enable: 0
  ssl_handshake_timeout_in: 60
profile::trafficserver::tls::log_formats:
- format: "dt:%<cqtd>T%<cqtt>Z\thostname:%{::fqdn}\ttime_firstbyte:%<{TS_MILESTONE_UA_BEGIN_WRITE-TS_MILESTONE_SM_START}msdms>\t\
    ip:%<{X-Client-IP}psh>\tcache_status:%<{X-Cache-Status}psh>http_status:%<pssc>\t\
    response_size:%<pscl>\thttp_method:%<cqhm>\turi_host:%<{Host}cqh>\turi_path:%<cquup>\t\
    content_type:%<{Content-Type}psh>\treferer:%<{Referer}cqh>\tuser_agent:%<{User-Agent}cqh>\t\
    accept_language:%<{Accept-Language}cqh>\tx_analytics:%<{X-Analytics}ssh>\trange:%<{Range}cqh>\t\
    x_cache:%<{X-Cache}psh>\taccept:%<{Accept}cqh>\tbackend:%<{Server}psh>\ttls:%<{X-Analytics-TLS}pqh>"
  name: wmf-analytics
profile::trafficserver::tls::logs:
- ensure: absent
  filename: tls
  format: wmf-tls
  mode: ascii_pipe
- ensure: present
  filename: analytics
  format: wmf-analytics
  mode: ascii_pipe
profile::trafficserver::tls::parent_rules:
- dest_domain: .
  parent:
  - 127.0.0.2:3120
  - 127.0.0.3:3121
  - 127.0.0.4:3122
  - 127.0.0.5:3123
  - 127.0.0.6:3124
  - 127.0.0.7:3125
  - 127.0.0.8:3126
  - 127.0.0.9:3127
  parent_is_proxy: 'false'
  round_robin: strict
profile::trafficserver::tls::unified_acme_chief: true
public_tls_unified_cert_vendor: lets-encrypt
puppetmaster: deployment-puppetmaster04.deployment-prep.eqiad.wmflabs
varnish_version4: true
wikimedia_clusters:
  cache_text:
    description: Text caches
    id: 20
    sites:
      codfw: []
      eqiad: []
      eqsin: []
      esams: []
      ulsfo: []
  misc:
    description: Miscellaneous
    id: 8
    sites:
      codfw: []
      eqiad: []
      eqsin: []
      esams: []
      ulsfo: []
