cassandra::metrics::blacklist:
- .*\.metrics\.Table\..*$
cassandra::target_version: '2.2'
profile::cassandra::single_instance::dc: labs
profile::cassandra::single_instance::graphite_host: prometheus-labmon.eqiad.wmnet
profile::cassandra::single_instance::seeds:
- '%{ipaddress}'
profile::maps::hosts:
- '%{::fqdn}'
profile::maps::postgresql_common::maintenance_work_mem: 3GB
profile::maps::postgresql_common::shared_buffers: 4GB
profile::redis::master::clients:
- '%{::fqdn}'
profile::redis::master::instances:
- '6379'
profile::redis::master::settings:
  bind: 0.0.0.0
  maxmemory: 2gb
  save: ''
  stop-writes-on-bgsave-error: false
